body {
  font-size: 16px;
  font-family: 'Roboto';
  background: url('/img/castle.jpg') center center / cover no-repeat;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.title {
  font-family: 'Uncial Antiqua';
  -webkit-font-smoothing: initial;
}

.sword-icon {
  background: url('/img/sword.png') center center / cover;
  height: 30px;
  width: 30px;
  margin: 0 10px 0 0;
}

.main-wrap {
  padding: 15px;
  background: #fff;
  color: #333;
  margin-top: 50px;
  min-width: 400px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

// LOBBY
.lobby {
  min-height: 500px;
  .btn {
    padding: 15px 0 15px 20px;
    font-size: 13pt;
    width: 350px;
    position: relative;
    margin-top: 10px;
    i {
      font-size: 22pt;
      transform: rotate(135deg);
      position: absolute;
      top: 4px;
      left: 45px;
    }
  }
}

.header {
  background: #3d829c;
  color: #fff;
  padding: 5px 10px;
  margin: 15px 0;
}

.game-item {
  margin: 0 0 10px 0;
}

.count {
  color: #aaa;
  font-size: 10pt;
}

.play-btn {
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  margin: 0 10px 0 0;
  width: 75px;
  display: inline-block;
  font-weight: 800;
  transition: .3s;
  &.play {
    border: 2px solid #45caca;
    color: #45caca;
    &:hover {
      background: #45caca;
      color: #fff;
    }
  }
  &.watch {
    border: 2px solid #ca58ac;
    color: #ca58ac;
    &:hover {
      background: #ca58ac;
      color: #fff;
    }
  }
  &.join {
    border: 2px solid #35bd3f;
    color: #35bd3f;
    &:hover {
      background: #35bd3f;
      color: #fff;
    }
  }
}

// BOARD
.chatbox {
  background: #f5f5f5;
  padding: 10px;
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.msg {
  position: relative;
  background: #e55344;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 2px;
  max-width: 80%;

  .pointer {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #e55344;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -8px;
    left: -5px;
    top: 50%;
  }
}

.self {
  justify-content: flex-end;
  .msg {
    background: #49a2e4;
  }

  .pointer {
    border-color: transparent #49a2e4;
    left: initial;
    right: -5px;
    border-width: 7px 0 7px 7px;
  }
}

form.chat {
  background: #3d829c;
  padding: 13px 10px;
  input {
    width: 85%;
    border-radius: 5px;
    border: 1px solid #7d868e;
    height: 35px;
    padding: 10px;
  }
  button {
    background: none;
    border: none;
    color: #a2c1da;
    font-size: 12pt;
    width: 15%;
  }
}


// BOOTSTRAP OVERRIDES
.navbar-inverse {
  color: #fff;
}
.navbar-brand {
  margin-left: 0 !important;
  color: #e54744 !important;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.btn {
  border-radius: 0px;
  color: #fff;
  transition: background .3s;
  &:hover {
    color: #fff;
  }
  &.primary {
    background: #e54744;
    &:hover {
      background: #f53d3a;
    }
  }
}
