.ss-board {
* {
  user-select: none;
}
.board-wrap {
  width: 414px;
  height: 736px;
  position: relative;

  &.disabled {
    pointer-events: none;
    .btn {
      background: #ccc;
      border: 2px solid #ccc;
      color: #333;
    }
    .character-wrap .player-1 {
      filter: brightness(70%);
    }
    .character-wrap .player-2 {
      filter: brightness(100%);
    }
    .tile-wrap {
      opacity: 0.9;
    }
  }
  &.single {
    .character.player-2 {
      display: none;
    }
  }
}

.game-over {
  z-index: 99;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(50,40,30,0.7);
  transition: .3s
}

.background {
  background: #1b2027;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; left:0;
  &.layer-1 {
    pointer-events: none;
    background: url('/img/board-overlay2.png');
  }
  &.layer-2 {
    pointer-events: none;
    background: url('/img/bg-1.jpg') no-repeat;
  }
}

.character-wrap {
  position: absolute;
  height: 100px;
  width: 290px;
  top: 97px;
  left: 38px;
  .character {
    height: 120px;
    width: 156px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: .2s;
  }
  .player-1 {
    background: url('/img/player1.png');
    filter: brightness(100%);
  }
  .player-2 {
    background: url('/img/player2.png');
    left: 190px;
    filter: brightness(70%);
  }
}

.name {
  color: #ccc;
  &.active { color: $green }
}

.button-wrap {
  position: absolute;
  bottom: 11px;
  left: 111px;
  height: 45px;
  width: 194px;
  z-index: 99;
}

.turn-wrap {
  position: absolute;
  left: 172px;
  top: 3px;
  z-index: 1;
  font-weight: 800;
  font-size: 10pt;
  width: 71px;
  text-align: center;
  .player-life {
    position: absolute;
    text-align: center;
    width: 76px;
    span {
      font-size: 8pt;
    }
  }
  .p1 {
    left: -76px;
    color: #49a2e4;
  }
  .p2 {
    right: -76px;
    color: #e54744;
  }
}

.turn-msg {
  position: absolute;
  top: 220px;
  left: 141px;
  z-index: 1;
  font-size: 10pt;
  color: #4f331b;
  width: 134px;
  text-align: center;
}

.tile-wrap {
  cursor: pointer;
  position: absolute;
  top: 258px;
  left: 31px;
}

.letters-wrap {
  position: absolute;
  bottom: 56px;
  left: 0;
  z-index: 99;
  width: 100%;

  .letters {
    font-size: 35pt;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Rakkas';
  }
  .points {
    position: absolute;
    right: 27px;
    bottom: 28;
    font-size: 15pt;
    color: #11a0dc;
  }
}

.tile {
  cursor: pointer;
  color: #efefef;
  font-size: 2.3rem;
  position: absolute;
  height: 57px;
  width: 57px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10%;
  background-size: cover;
  background-image: url('/img/tile-blank.png');
  text-align: center;
  user-select: none;
  transition: background-image .25s;

  .hover-box {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto auto;
  }

  &:hover:not(.active):not(.wrong) {
    transition: .25s;
    filter: brightness(90%);
    transform: perspective(1px) scale(0.9) !important;
  }


  @for $i from 0 through 7 {
    &.x#{$i} {
      left: #{($i * 57) + ($i * 2)}px;
    }
  }

  @for $i from 0 through 7 {
    &.y#{$i} {
      top: #{($i * 57) + ($i * 2)}px;
    }
  }

  &.start {
    @for $i from 0 through 7 {
      &.x#{$i} {
        animation: bounce #{($i * .05) + .5}s;
      }
    }
  }

  // @for $i from 1 through 5 {
  //   &.shifted-#{$i} {
  //     animation: shift#{$i} 1s
  //   }
  // }
  &.shifted-1 {  animation: shiftedOne .5s }
  &.shifted-2 {  animation: shiftedTwo .5s }
  &.shifted-3 {  animation: shiftedThree .5s }
  &.shifted-4 {  animation: shiftedFour .5s }
  &.shifted-5 {  animation: shiftedFive .5s }



  .score {
    position: absolute;
    top: 0;
    right: 6%;
    font-size: 1.2rem;
  }
  .character {
    line-height: 53px;
  }

  span {
    color: #efefef;
  }

  &.opponent-active {
    background-image: url("/img/tile-red.png");
  }

  &.active {
    background-image: url("/img/tile-blue.png");
  }

}

@keyframes bounce {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -1000px, 0);
  }
  60% {
    transform: translate3d(0, 25px, 0);
  }
  75% {

    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes shiftedOne {
  0% {
    transform: translate3d(0, -57px, 0);
  }
  60% {
    transform: translate3d(0, -5px, 0);
  }
  75% {

    transform: translate3d(0, 3px, 0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes shiftedTwo {
  0% {
    transform: translate3d(0, -114px, 0);
  }
  60% {
    transform: translate3d(0, -5px, 0);
  }
  75% {

    transform: translate3d(0, 3px, 0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes shiftedThree {
  0% {
    transform: translate3d(0, -114px, 0);
  }
  60% {
    transform: translate3d(0, -25px, 0);
  }
  75% {
    transform: translate3d(0, 15px, 0);
  }
  90% {
    transform: translate3d(0, -10px, 0);
  }
}

@keyframes shiftedFour {
  0% {
    transform: translate3d(0, -228px, 0);
  }
  60% {
    transform: translate3d(0, -5px, 0);
  }
  75% {

    transform: translate3d(0, 3px, 0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes shiftedFive {
  0% {
    transform: translate3d(0, -286px, 0);
  }
  60% {
    transform: translate3d(0, -5px, 0);
  }
  75% {

    transform: translate3d(0, 3px, 0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
  100% {
    transform: none;
  }
}

}

.demo0 {
  border-radius: 4px;
  background-color: rgb(240, 240, 232);
  position: relative;
  margin: 5px 3px 10px;
  width: 450px;
  height: 50px;
}
.demo0-block {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(130, 181, 198);
}
