.ss-board {

  .temp-board {
    height: 400px;
    width: 500px;
    background: #333;
  }

  .name {
    color: #ccc;
    &.active { color: $green }
  }

  .button-wrap {
    padding: 20px 0;

    .skip {
      border: 2px solid $green;
      color: $green;
      &:hover {
        background: $green;
        color: #fff;
      }
    }

    &.disabled {
      pointer-events: none;
      .btn {
        background: #ccc;
        border: 2px solid #ccc;
        color: #fff;
      }
    }

  }

}
