.ss-game {

.lobby {
  .btn {
    padding: 15px 30px 15px 50px;
    width: 100%;
    font-size: 13pt;
    margin-top: 10px;
    span {
      position: relative;
    }
    i {
      font-size: 22pt;
      transform: rotate(135deg);
      position: absolute;
      top: -11px;
      left: -41px;
    }
  }
  .date {
    padding: 0 0 0 15px;
  }
}

.header {
  background: #3d829c;
  color: #fff;
  padding: 5px 10px;
  margin: 15px 0;
}

.game-item {
  margin: 0 0 10px 0;
}

.play-btn {
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  margin: 0 10px 0 0;
  width: 75px;
  display: inline-block;
  font-weight: 800;
  transition: .3s;

  &.play {
    border: 2px solid #45caca;
    color: #45caca;
    &:hover { background: #45caca }
  }
  &.watch {
    border: 2px solid #ca58ac;
    color: #ca58ac;
    &:hover { background: #ca58ac }
  }
  &.join {
    border: 2px solid $green;
    color: $green;
    &:hover { background: $green }
  }
  &:hover {
    color: #fff;
  }
}

}
