$red: #e54744;
$red-lite: #f53d3a;

$blue: #49a2e4;

$green: #3dc190;
$green-lite: #4dce9e;

.navbar-inverse {
  color: #fff;
}
.navbar-brand {
  margin-left: 0 !important;
  color: $red !important;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.btn {
  border-radius: 0px;
  color: #fff;
  transition: background .3s;
  &:hover {
    color: #fff;
  }
  &.red {
    background: $red;
    &:hover { background: $red-lite }
  }
  &.green {
    background: $green;
    &:hover { background: $green-lite }
  }
}
