.navbar-inverse {
  color: #fff;
  background: #0e1821;
  border-color: #34414e;
}
.navbar-brand {
  margin-left: 0 !important;
  color: $red !important;
}

.alert {
  font-size: 11pt !important;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.btn {
  border-radius: 0px;
  color: #fff;
  transition: background .3s;
  background-image: none;
  &:hover {
    color: #fff;
  }
  &.red {
    background: $red;
    &:hover { background: $red-lite }
  }
  &.green {
    background: $green;
    &:hover { background: $green-lite }
  }
}
