body {
  font-size: 16px;
}

.player1 {
  color: red
}

.player2 {
  color: blue
}

.link {
  color: blue;
  cursor: pointer;
}

.sword-icon {
  background: url('/img/sword.png') center center / cover;
  height: 40px;
  width: 40px;
  margin: 5px;
}
